# Environment variables
.env
.env.*
.env.local
.env.development
.env.test
.env.production

# Dependencies
node_modules/
package-lock.json
package.json
# Build outputs
/dist
/build
/.next

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
logs
*.log

# Testing
/coverage

# Temporary files
*.tmp
*.temp
